[Desktop Entry]
Encoding=UTF-8
Categories=GTK;Utility;Applications;Accessories
Exec=xvkbd -geometry 1024x250-0+300 -no-keypad
Icon=/usr/share/icons/gnome/48x48/apps/access.png
StartupNotify=true
Type=Application
Terminal=false
MimeType=
Name=Xvkbd On screen keyboard
GenericName=On Screen Keyboard
Comment=On Screen keyboard
